    <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    {{!-- leftside --}}
                    <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="images/about.svg" alt="hero-sec-img">
                        </figure>
                    </div>
                    {{!-- rightside --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>We are the Professional Developer</h1>
                        <p>Welcome to <span class="bold-style">Muddi Technical</span>. your number one source for all things. we're dedicated to giving tou the very best of work. with a focus on [three characreristics. i.e: Dependdability, Customer Service and Uniqueness.]</p>
                        <button class="btn-style btn-primary">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>